body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

#board{
display:grid;
grid-template-columns:repeat(8,70px);
grid-gap:2px;
justify-content:center;
margin-top:20px;
}

.tile{
width:70px;
height:70px;
background:#333;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
position:relative;
}

.tile:nth-child(even){
background:#444;
}

.hpbar{
width:300px;
height:20px;
background:#333;
margin:5px auto;
border:1px solid #666;
position:relative;
}

.hp{
height:100%;game.
background:red;
width:100%;
transition:0.5s;
}

.hpcontainer{
margin-bottom:10px;
}

button{
margin:5px;
padding:10px;
font-size:14px;
}

.projectile{
width:20px;
height:20px;
position:absolute;
z-index:5;
transition:0.3s linear;
}